@import 'colors';

.option {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 24px;

  &:not(:last-of-type) {
  }

  input {
    margin-right: 8px;
  }

  .label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: $grey-dark;
    user-select: none;
  }
}
