<div class="progress-bar">
    <span class="progress-bar--bullet" [style.left]="currentIndex | calcPercent: total">
        <span class="progress-bar--bullet__value">{{ currentIndex }}</span>
    </span>
    <div class="progress-bar--fill" [style.width]="currentIndex | calcPercent: total"></div>
    <div class="progress-bar--background"></div>
</div>

<div class="progress-status">
    <span>Question {{ currentIndex }} of {{ total }}</span>
    <span data-cy="total-progress">{{ currentIndex | calcPercent: total }}</span>
</div>