<div class="headline-background"></div>

<div class="headline">
    <h1 class="headline-title">
        Are you <br> an introvert or an extrovert?
    </h1>
    <h4 class="headline-subtitle">
        So do you consider yourself more of an introvert or an extrovert? Take this test, put together with input from
        psychoanalyst Sandrine Dury, and find out
    </h4>

    <span class="headline-author">by Psychologies</span>

</div>

<div class="content">
    <div *ngIf="questions" class="panel">
        <app-progress *ngIf="currentIndex !== questions.length" [currentIndex]="currentIndex"
            [total]="questions.length"></app-progress>

        <ng-container *ngFor="let item of questions; let questionIndex = index;">
            <ng-container *ngIf="questionIndex === currentIndex">
                <div class="panel-question">
                    {{ item.question }}
                </div>

                <div *ngFor="let option of item.options" class="panel-options">
                    <app-option [option]="option"></app-option>
                </div>
            </ng-container>
        </ng-container>

        <div *ngIf="currentIndex !== questions.length; else resultsTpl" class="panel-buttons">
            <div class="panel-buttons--side">
                <button (click)="backClicked()" [attr.disabled]="isBackDisabled">Back</button>
                <button *ngIf="!lastStep" [attr.disabled]="isSectionValid()" (click)="nextClicked()"
                    class="success">Next</button>
            </div>
            <button *ngIf="lastStep" [attr.disabled]="isSectionValid()" (click)="finishClicked()"
                class="success">Finish</button>
        </div>
    </div>
</div>

<ng-template #resultsTpl>
    <div class="results">
        <div class="side">
            <h1>Your personality test result</h1>

            <p>
                Score: <strong>{{ score }}</strong> . You're
                <ng-container *ngIf="score < 0">introvert</ng-container>
                <ng-container *ngIf="score > 0">extrovert</ng-container>
                <ng-container *ngIf="score === 0">balanced</ng-container>
            </p>

            <app-vert-o-meter [value]="score"></app-vert-o-meter>
        </div>

        <button (click)="retakeTestClicked()" class="success">Take the test again</button>
    </div>
</ng-template>

<div class="footer">
    Developed by <strong>Sorin Vestemean</strong> for <strong>Teamway</strong>
</div>