$main-color: #d10056;
$success-color: #00af47;
$success-color-disabled: #d9eee2;

$grey-light: #c4c4c4;
$grey-dark: #414141;


// vert-o-meter colors
$vert-high: #eb2f06;
$vert-medium: #f6b93b;
$vert-low: #78e08f;